/*whole content*/
.container {
    max-width: 1170px;
    margin: auto;
}

/*users image*/
img {
    max-width: 100%;
}

.button:active {
    background-color: red;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


/*whole users and rooms part*/
.inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 40%;
    border-right: 1px solid #c4c4c4;
}

/*whole messaging part*/
.inbox_msg {
    border: 3px solid lightgrey;
    clear: both;
    overflow: hidden;
}

.recent_heading {
    float: left;
    width: 40%;
}

.srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%;
}

.heading_srch {
    padding: 10px 29px 10px 20px;
    overflow: hidden;
    border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
    color: #05728f;
    font-size: 21px;
    margin: auto;
}

.srch_bar input {
    border-width: 0 0 1px 0;
    width: 80%;
    padding: 2px 0 4px 6px;
    background: none;
}

.srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
}

.srch_bar .input-group-addon {
    margin: 0 0 0 -27px;
}

/*user or room name and date part*/
.chat_ib h5 {
    font-size: 15px;
    color: #464646;
    margin: 0 0 8px 0;
}


/*user or room date*/
.chat_ib h5 span {
    font-size: 13px;
    float: right;
}

/*user or room  mail*/
.chat_ib p {
    font-size: 14px;
    color: #989898;
    margin: auto;
}

/*user or room image*/
.chat_img {
    float: left;
    width: 11%;
}

/*user or room without image part*/
.chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
}

/*user and room  whole part*/
.chat_people {
    overflow: hidden;
    clear: both;
}

/*.chat_name{*/
/*    background-color: red;*/
/*}*/


/*all users section list*/
.chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
    cursor: pointer;
}

/*all rooms section list*/
.room_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
    cursor: pointer;
}

.chat_list:hover {
    background: lightblue;
}

.room_list:hover {
    background: lightblue;
}

/*whole users and rooms section*/
.inbox_chat {
    height: 550px;
    overflow-y: scroll;
}

.active_chat {
    background-color: lightblue;
}

/*messages background*/
.message {
    margin-bottom: 20px;
}

.message_img {
    display: inline-block;
    width: 36px;
    /*border-radius: 50%!important;*/
}

.message_time {
    font-size: 10px;
    display: block;
}

/*messaging and type message section and bottom part */
.messaging {
    padding: 0 0 50px 0;
}

/*whole message section with typing part*/
.mesgs {
    float: right;
    padding: 30px 15px 0 25px;
    width: 60%;
    position: relative;
}

.btn-outline-success{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.room_name{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

#myFile{
    position: absolute;
    top: 32%;
    left: 72%;
    transform: translate(-50%, -50%);
    font-size: 19px;
}


.btn-outline-success:active{
    background-color: black;
    color: white;
}

/*typing part*/
.type_msg {
    border-top: 1px solid #c4c4c4;
    border-left: 1px solid #c4c4c4;
    position: relative;

}

/*only input part for typing*/
.type_msg input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: blue;
    font-size: 20px;
    min-height: 48px;
    width: 100%;
}

/*send button*/
.msg_send_btn {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
}

/*only messages section*/
.msg_history {
    height: 516px;
    overflow-y: auto;
}

.active_messaging{
    background-color: lightgreen;
}

.message_writer{
    color: blue;
    margin-bottom: -10px;
}

.plus-button {
    border: 2px solid lightgrey;
    height: 2.5em;
    width: 2.5em;
    border-radius: 999px;
    position: relative;
    padding-top: 10px;
    font-size: 12px;
}

.plus-button:after, .plus-button:before {
    content: "";
    display: block;
    background-color: grey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.plus-button:before {
    height: 1em;
    width: 0.2em;
}

.plus-button:after {
    height: 0.2em;
    width: 1em;
}

.plus-button:hover {
    background-color: lightgrey;
}

.plus-button:active {
    background-color: #c4c4c4;
}



.message-list li {
    margin-bottom: 10px;
    overflow: auto;
}

.message-list .message-img {
    float: left;
    width: 60px;
}

.message-list .message-img img {
    border-radius: 50px;
    width: 100%;
}

.message-list .chat-message {
    border-radius: 50px;
    background: #5a99ee;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
}

.message-list .chat-message:before {
    content: "";
    position: absolute;
    top: 15px;
    width: 0;
    height: 0;
}

.message-list .chat-message h5 {
    margin: 0 0 5px 0;
    font-weight: bolder;
    line-height: 100%;
    font-size: 1.3rem;
}

.message-list .chat-message p {
    line-height: 18px;
    margin: 0;
    padding: 0;
    word-break: break-word;
}

.date{
    font-size: 7px;
    font-style: italic;
}

.text{
    font-size: 20px;
    font-style: oblique;
}

.name{
    font-size: small;
    font-style: italic;
}
.message-list .message-body {
    margin-left: 20px;
    float: left;
    width: 70%;
}

.message-list .in .chat-message:before {
    left: -12px;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #70a6fa;
}

.message-list .out .message-img {
    float: right;
}

.message-list .out .message-body {
    float: right;
    margin-right: 20px;
    text-align: right;
}

.message-list .out .chat-message {
    background: #90ee91;
}

.message-list .out .chat-message:before {
    right: -12px;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #90ee91;
}
